.containerPhoneNumber {
    position: absolute;
    background: rgba(34,46,53,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 155;
}